/* Transaction page */

.pageContainer {
  background-color: #121212;
  padding: 0 20px;
  width: 100%;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.pageTitle {
  font-size: 2rem;
  color: #fcd535;
}

.infoParagraph {
  font-size: 1rem;
  margin-top: 10px;
  color: white;
  max-width: 600px;
  line-height: 1.3;
}

.transactionsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.transactionsTable th {
  position: sticky;
  top: 0;
  z-index: 1; /* Ensures the header is above other content when scrolling */
  background-color: rgba(3, 125, 214, 0.5);
}

.transactionsTable th,
.transactionsTable td {
  padding: 8px;
}

.transactionsTable tr {
  border-top: 1px solid rgba(221, 221, 221, 0.7);
  border-bottom: 1px solid rgba(221, 221, 221, 0.7);
}

.transactionsTable tr:hover {
  background-color: rgba(
    3,
    125,
    214,
    0.2
  ); /* Adjusts only the background opacity */
}

.errorMessage {
  color: red;
  margin: 20px 0;
  text-align: center;
}