.pageContainer {
    background-color: #121212;
    padding: 20px;
    width: 100%;
    min-height: 100vh; /* Ensure full vertical height */
  }
  
  .pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
    padding-bottom: 30px;
  }
  
  .pageTitle {
    font-size: 2.4rem;
    color: #fcd535; /* Highlight color */
  }
  
  .infoParagraph {
    font-size: 1.2rem;
    margin-top: 10px;
    color: white;
    max-width: 800px; /* Ensure text is not too wide on larger screens */
  }
  
  .developerLinks {
    margin-top: 20px;
  }
  
  .developerLinks a {
    color: #f0b90b;
    text-decoration: none;
    margin: 0 10px; /* Space out links */
    transition: color 0.3s ease-in-out;
  }
  
  .developerLinks a:hover {
    color: #fcd535;
  }

  .developerSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 20px;
  }
  
  .developerImage {
    border-radius: 50%; /* Circular image */
    width: 150px; /* Fixed size for simplicity */
    height: 150px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the area without being stretched */
    background-color: #ffffff;
  }

  .developerInfo {
    display: flex;
    flex-direction: column;
    max-width: 60%; /* Limit text width */
}

.developerName {
    font-size: 2rem;
    color: #fcd535;
}

.developerRole {
    font-size: 1.6rem;
    color: #ffffff;
}

.developerBio {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px; /* Space between role and bio */
}

.developerLinks a {
    color: #fcd535;
    text-decoration: none;
    margin-top: 5px;
}

  /* Ensure text wraps next to the image */
  .developerSection > div {
    flex: 1;
  }

  .highlightedEmail {
    color: #fcd535;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  
 /* Adjustments for smaller screens */
@media (max-width: 600px) {
  .pageContainer {
    padding: 10px;
  }

  .infoParagraph, .developerBio {
    font-size: 1rem; /* Slightly smaller text on smaller screens */
  }

  .developerSection {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
  }

  .developerInfo {
    max-width: 100%; 
    text-align: center; /* Centers the text below the image */
  }

  .developerLinks a {
    display: block; 
  }
}

  