.pageContainer {
  background-color: #121212;
  padding: 0;
  width: 100%;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.infoDiv {
  flex: 1;
  margin: 100px 20px;
}

.imageDiv {
  flex: 1;
  /* to center image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoTitle {
  font-size: 2.4rem;
  color: #fcd535;
}

.infoParagraph {
  font-size: 1.2rem;
  margin-top: 10px;
  color: white;
}

.infoButton {
  background-color: #f0b90b;
  color: #0b0e11;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.infoButton:hover {
  background-color: #fcd535;
}

.infoSection, .pageHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjust gap between items as needed */
  align-items: center; /* Align items vertically in the center */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .infoSection, .pageHeader {
    display: flex;
    flex-direction: column;
  }
  
  .infoSection .imageDiv {
    order: 2; /* Place the image after the text */
  }

  .infoSection .infoDiv {
    order: 1; /* Ensure the text appears first */
  }
}
