.pageContainer {
    background-color: #121212;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
  }
  
  .pageHeader {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .pageTitle {
    color: #fcd535;
    font-size: 2.4rem;
  }
  
  .infoParagraph {
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .infoDiv {
    background-color: #222;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
  }
  
  @media (max-width: 600px) {
    .infoSection {
      flex-direction: column;
    }
  }
  