.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
  background-color: #121212;
  height: 60px;
  display: flex;
  padding: 50px 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navLogo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: normal;
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: right;
  flex-grow: 1;
}

.navItem {
  margin: 10px 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.navLink:hover,
.navLinkActive {
  color: #fcd535;
  text-decoration: none;
}

.buttonRight {
  background-color: #f0b90b;
  color: #0b0e11;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonRight:hover {
  background-color: #fcd535;
}

.dropdown {
  position: relative; /* Needed for positioning the dropdown content */
}

.dropdownContent {
  opacity: 0;
  display: none; /* Ensures it doesn't take up space when not shown */
  position: absolute;
  background-color: #323232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 300ms ease-in-out; /* Smooth transition for dropdown */
}

.dropdownContent a {
  color: #f0b90b; /* Color for dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: white;
}

.dropdown:hover .dropdownContent {
  display: block;
  opacity: 1; /* Make dropdown fully visible */
  transition: opacity 300ms ease-in-out; /* Smooth transition for dropdown */
}

.navLinkWithDropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdownArrow {
  margin-left: 5px;
  transition: transform 300ms ease-in-out; /* Smooth transition for arrow */
}

.dropdown:hover .dropdownArrow {
  transform: rotate(180deg); /* Flip arrow when dropdown is active */
}

.navToggle {
  display: none; /* Hide toggle button by default */
}

/* Responsive design for smaller devices */

@media (max-width: 600px) {
  .navbar {
    margin-bottom: 100px;
  }

  .navLinks {
    display: none; /* Hide the navigation links */
    flex-direction: column; /* Stack them vertically when shown */
    align-items: center; /* Center align nav items */
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #121212; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    overflow: hidden;
  }

  .navItem {
    margin: 10px 0; /* Adjust spacing for vertical layout */
  }

  .navLink {
    color: white; /* Text color */
    text-decoration: none; 
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out; /* Smooth transition for color change */
  }

  .navLink:hover,
  .navLinkActive {
    color: #fcd535;
    text-decoration: none; 
  }

  .dropdownContent {
    position: static; /* Override absolute positioning */
  }

  .navToggle {
    display: block; /* Show toggle button */
    cursor: pointer;
  }

  .showNav {
    display: flex !important; /* Ensure navigation links are shown */
  }

  .showNav .navLinks {
    display: flex;
  }
}